.chatWrapper {
  height: 100%;
  width: 100%;

  .singleSidebarWrapper {
    width: 320px;
    padding: 26px;

    .conversationContent {
      overflow-y: auto;
      width: 100%;
      max-height: calc(100vh - 300px);
    }

    .conversationCard {
      :global(.ant-card-body) {
        padding: 10px;
      }
      .cubeIcon {
        &:hover {
          cursor: pointer;
        }
      }
    }

    .conversationCardSelected {
      :global(.ant-card-body) {
        background-color: @gray11;
        border-radius: 8px;
      }
    }

    .conversationCardSelectedDark {
      :global(.ant-card-body) {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 8px;
      }
    }
  }

  .chatSpin {
    :global(.ant-spin-container) {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  .divider {
    margin: 0;
    height: 100%;
  }
}
